.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 17px;
  margin: 0 10px;
  font-weight: 500;
}

.postDate {
  font-size: 12px;
  color: rgb(59, 58, 56);
}

.postCenter {
  margin: 20px 0;
}

.postText {
  font-size: 20px;
  margin-left: 15px;
}

.postImg {
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
  max-height: 500px;
}

.postBottom {
  display: flex;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.postCommentText {
  cursor: pointer;
  font-size: 16px;
  color: #626568;
  text-decoration: none;
}

.tempImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  background-color: grey;
  margin: 0 10px;
}

.postTopRight {
  display: flex;
  cursor: pointer;
}

.postMenu {
  display: flex;
  flex-direction: column;

}

.postMenu span {
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}

.postMenu span:hover {
  background-color: navy;
  color: white;
  transition: 0.5s ease;
}